// *******************************************************************
// ******************         GENERALITES     ************************
// *******************************************************************
body {
    margin: 0 auto;
    text-align: center;
    max-width: 1280px;
    width: 100vw;
    // max-height: 1024px;
    font-family: 'Zilla Slab', serif;
}

a {
    text-decoration: none;
    color: var(--fontColor);
    &:hover {
        color: var(--hoverNav);
        text-shadow: 2px 2px 2px var(--textShadowNav);
        // background-color: rgba(255, 255, 255, 0.3);
        // border-radius: 10px;
    }
}

// *******************************************************************
// *************         Déclaration de variables     ****************
// *******************************************************************
:root {
    // ******************         COLORIS     ************************
    // Theme Vert
    // --fontColor: #fff;
    // --bgColor: rgba(15, 68, 15, 0.502);
    // --hoverNav: yellowgreen;
    // --currentNav: rgb(219, 55, 55);
    // --textShadowNav: #000;
    // --textShadowH1: rgb(15, 68, 15);
    // --bgcolorDealerHover: rgb(219, 55, 55);
    // --boxShadow: #fff;
    // --bgColorCaption: rgba(255, 255, 255, 0.8);
    // --fontColorCaption: rgb(15, 68, 15);
    // --bgColorArray: rgba(15, 110, 15, 0.8);
    // --bgHeadbandLeft: #fff;
    // --bgHeadbandRight: rgba(15, 68, 15, 0.5);
    // --border: #000;
    // --bgColorInfo: rgb(15, 68, 15);
    // --bgColorAlert: rgb(161, 96, 20);
    // --bgColorDanger: rgb(201, 40, 40);
    //-------------------------------
    // Theme Bleu
    --fontColor: #fff;
    --bgColor: rgba(31, 48, 133, 0.5);
    --hoverNav: rgb(49, 156, 228);
    --currentNav: rgb(219, 55, 55);
    --textShadowNav: #000;
    --textShadowH1: rgb(31, 48, 133);
    --bgcolorDealerHover: rgb(49, 156, 228);
    --boxShadow: #fff;
    --bgColorCaption: rgba(255, 255, 255, 0.8);
    --fontColorCaption: rgb(31, 48, 133);
    --bgColorArray: rgba(31, 48, 133, 0.8);
    --bgHeadbandLeft: #fff;
    --bgHeadbandRight: rgba(31, 48, 133, 0.8);
    --border: #000;
    --bgColorInfo: rgb(31, 48, 133);
    --bgColorAlert: rgb(161, 96, 20);
    --bgColorDanger: rgb(201, 40, 40);
    // ******************         FONT     ************************
}

// *******************************************************************
// ******************           FONT          ************************
// *******************************************************************
// *******************************************************************
// ******************          ICONS          ************************
// *******************************************************************
// *******************************************************************
// ******************           BODY          ************************
// *******************************************************************
.fond-Page {
    background-position: center;
    background-image: url('../../asset/images/Background-1.png');
    background-size: 1280px;
    background-repeat: no-repeat;
    background-color: var(--bgColor);
    color: var(--fontColor);
}

// *******************************************************************
// ******************           HEADER        ************************
// *******************************************************************
.navHeader {
    max-width: 100%;
    & nav {
        font-size: 2rem;
        width: 75%;
        // background-color: var(--bgColorDanger);
        margin: 0 auto;
        & ul {
            margin: 0 0 0 5%;
            padding-left: 0;
        }
        & li {
            list-style: none;
        }
        & .current {
            color: var(--currentNav);
            text-shadow: 2px 2px 4px var(--textShadowNav);
        }
    }
}

// *******************************************************************
// ******************            MAIN         ************************
// *******************************************************************
h1 {
    text-align: center;
    margin-top: .5rem;
    // font-family: 'Rye', cursive;
    font-family: 'Merienda', cursive;
    font-size: 2.5rem;
    text-shadow: 4px 2px var(--textShadowH1);
}

.container {
    margin: 0 auto;
    max-width: 90%;
    height: 70vh;
    // top: calc(50% - 200px);
    // left: calc(50% - 240px);
}

.fond-Table {
    width: 90%;
    // min-height: 70%;
    height: 90%;
    margin: 3rem auto;
    background-image: url('../../asset/images/table-70.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    & img {
        margin-top: 0.8rem;
    }
    & div {
        width: 48%;
        // min-height: 46.3vh;
        height: auto;
        margin: 0 auto;
        border: 1px solid blue;
        & p {
            width: 15%;
            height: 21%;
            margin: 5rem auto;
            // font-weight: bold;
            border: 1px solid yellow;
            & img {
                width: 80%;
                opacity: 1;
                transition: opacity .8s, transform 0.8s;
                border: 2px solid red;
            }
            &:hover img {
                transform: rotateY(180deg);
                opacity: 0.8;
            }
        }
    }
}

.dealer {
    width: 7rem;
    // transition: box-shadow 1s;
    &:hover {
        background-color: var(--bgcolorDealerHover);
        border-radius: 3.5rem;
        box-shadow: 4px 4px 8px var(--boxShadow), -4px -4px 8px var(--boxShadow), 4px -4px 8px var(--boxShadow), -4px 4px 8px var(--boxShadow);
        ;
    }
}

// *******************************************************************
// ******************          FOOTER         ************************
// *******************************************************************
footer section {
    width: 25%;
}

footer img {
    width: 1rem;
    padding-right: 0.7rem;
}

// *******************************************************************
// ******************      MEDI QUERIES       ************************
// *******************************************************************
// *******************************************************************
// ******************      MY FRAMEWORK      ************************
// *******************************************************************
.hide {
    display: none;
}

.small {
    font-size: 0.8rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    // align-items: center;
}

.flex-center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headband {
    background-image: linear-gradient(90deg, var(--bgHeadbandLeft) -30%, var(--bgHeadbandRight) 60%);
}

.token {
    width: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.array-border {
    width: 33rem;
    height: 24rem;
    overflow: auto;
    //// A RETIRER
    border: 1px solid black;
}

.array {
    table-layout: fixed;
    width: 32rem;
    background-color: var(--bgColorArray);
    border-collapse: collapse;
    & caption {
        color: var(--fontColorCaption);
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: var(--bgColorCaption);
        border: 1px solid var(--border);
        border-collapse: collapse;
    }
    & th,
    td {
        width: 4.5rem;
        padding: 0 .5rem;
        border: 1px solid var(--border);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & th {
        font-weight: bold;
        background-color: var(--bgColorArray);
    }
    & td {
        text-align: left;
    }
    & td:first-child,
    th:first-child {
        text-align: center;
        width: .3rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    & td:nth-child(5),
    th:nth-child(5) {
        text-align: center;
        width: 1.4em;
    }
    & td img {
        max-height: 1.5rem;
    }
}

.btn {
    color: var(--fontColor);
    padding: 0.5rem;
    margin: .5rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
}

.btn-info {
    background-color: var(--bgColorInfo);
}

.btn-alert {
    background-color: var(--bgColorAlert);
}

.btn-danger {
    background-color: var(--bgColorDanger);
}